RestFulService/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar29.fulton.asu.edu/Page1/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar29.fulton.asu.edu/Page1/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar29.fulton.asu.edu/Page1/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Top10Words_InputMessage">
    <wsdl:part name="parameters" element="tns:Top10Words" />
  </wsdl:message>
  <wsdl:message name="IService1_Top10Words_OutputMessage">
    <wsdl:part name="parameters" element="tns:Top10WordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:WordFilter" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TransactionSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionSummary" />
  </wsdl:message>
  <wsdl:message name="IService1_TransactionSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TopNearByPlaceFinder_InputMessage">
    <wsdl:part name="parameters" element="tns:TopNearByPlaceFinder" />
  </wsdl:message>
  <wsdl:message name="IService1_TopNearByPlaceFinder_OutputMessage">
    <wsdl:part name="parameters" element="tns:TopNearByPlaceFinderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StringPurifier_InputMessage">
    <wsdl:part name="parameters" element="tns:StringPurifier" />
  </wsdl:message>
  <wsdl:message name="IService1_StringPurifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:StringPurifierResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Top10Words">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Top10Words" message="tns:IService1_Top10Words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Top10WordsResponse" message="tns:IService1_Top10Words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WordFilter" message="tns:IService1_WordFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WordFilterResponse" message="tns:IService1_WordFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TransactionSummary" message="tns:IService1_TransactionSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TransactionSummaryResponse" message="tns:IService1_TransactionSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TopNearByPlaceFinder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TopNearByPlaceFinder" message="tns:IService1_TopNearByPlaceFinder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TopNearByPlaceFinderResponse" message="tns:IService1_TopNearByPlaceFinder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StringPurifier">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StringPurifier" message="tns:IService1_StringPurifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StringPurifierResponse" message="tns:IService1_StringPurifier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Top10Words">
      <soap:operation soapAction="http://tempuri.org/IService1/Top10Words" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <soap:operation soapAction="http://tempuri.org/IService1/WordFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionSummary">
      <soap:operation soapAction="http://tempuri.org/IService1/TransactionSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopNearByPlaceFinder">
      <soap:operation soapAction="http://tempuri.org/IService1/TopNearByPlaceFinder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringPurifier">
      <soap:operation soapAction="http://tempuri.org/IService1/StringPurifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar29.fulton.asu.edu/Page1/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>